.container {
  position: relative;
}

.lightButton {
  width: 15rem;
  height: 15rem;
  border: 0.25rem solid rgb(3, 7, 18);
  cursor: pointer;
  opacity: 90%;
  transition: all ease-out 50ms;
  box-shadow: 0.125rem -0.5rem 0.562rem 0.75rem rgba(0, 0, 0, 0.65) inset;
}

.lightButton:active {
  filter: saturate(150%);
  opacity: 100%;
  box-shadow: -0.25rem 0.125rem 0.375rem 0.5rem rgba(0, 0, 0, 0.65) inset;
}

.active {
  filter: saturate(150%);
  opacity: 100%;
  box-shadow: -0.25rem 0.125rem 0.375rem 0.5rem rgba(0, 0, 0, 0.65) inset;
}

.startButton {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: rgb(226 232 240);
  border-radius: 100%;
  border: 0.5rem solid rgb(209 213 219);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: 0rem 0.125rem 0.25rem 0.125rem rgba(0, 0, 0, 0.25) inset;
  transition: all ease-in-out 200ms;
}

.shadowBorder {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.125rem 0 0.5rem 0.375rem rgba(0, 0, 0, 0.65);
}

.startButton:active {
  box-shadow: 0rem 0.125rem 0.25rem 0.375rem rgba(0, 0, 0, 0.25) inset;
}

.loseButton {
  background-color: rgb(226, 158, 158);
  border-color: rgb(247, 217, 217);
}

.startText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  user-select: none;
  color: rgb(3, 7, 18);
}

.startText:active {
  font-size: 1.4rem;
  transition: all ease-in-out 200ms;
}

@media (max-width: 520px) {
  .container {
    width: 20rem;
    height: 20rem;
  }

  .lightButton {
    width: 10rem;
    height: 10rem;
  }

  .startButton {
    width: 6rem;
    height: 6rem;
  }

  .shadowBorder {
    width: 6rem;
    height: 6rem;
  }

  .startText {
    font-size: 1rem;
  }

  .startText:active {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  .container {
    width: 18rem;
    height: 18rem;
  }

  .lightButton {
    width: 9rem;
    height: 9rem;
  }

  .startButton {
    width: 5rem;
    height: 5rem;
  }

  .shadowBorder {
    width: 5rem;
    height: 5rem;
  }

  .startText {
    font-size: 0.8rem;
  }

  .startText:active {
    font-size: 0.75rem;
  }
}