.lightButton {
  width: 15rem;
  height: 15rem;
  border: 0.25rem solid rgb(3, 7, 18);
  cursor: pointer;
  opacity: 90%;
  transition: all ease-out 50ms;
  box-shadow: 2px -8px 9px 12px rgba(0, 0, 0, 0.65) inset;
}

.lightButton:active {
  filter: saturate(150%);
  opacity: 100%;
  box-shadow: -4px 2px 6px 8px rgba(0, 0, 0, 0.65) inset;
}

.startButton {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: rgb(226 232 240);
  border-radius: 100%;
  border: 8px solid rgb(209 213 219);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: 2px 0px 8px 6px rgba(0, 0, 0, 0.65);
  transition: all ease-in-out 200ms;
}

.startButton:active {
  filter: saturate(150%);
  border: 10px solid rgb(243, 244, 246);
  box-shadow: 2px -2px 8px 4px rgba(0, 0, 0, 0.65);
}

.startText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(3, 7, 18);
}